# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# .md files - we don't have any eslint plugin to handle .md files. prettier is enough.
*.md

# dependencies
node_modules

#turbo
.turbo/

.pnp
.pnp.js

# testing
coverage
.eslintcache
tsconfig.tsbuildinfo

# next.js
.next/
out/
build
.swc/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# ui
dist/

# ide
.idea

# storybook
storybook.log
storybook-static
build-storybook.log

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# MSW
/apps/web/public/mockServiceWorker.js
/packages/ui/public/mockServiceWorker.js

!.storybook