openapi: 3.0.1
info:
  title: Open API ListenAPI spec
  description: Open API Spec of Listen API
  version: 1.1.0
servers:
  - url: https://listenapi.planetradio.co.uk/api9.2/
paths:
  /aggregatorbrands:
    get:
      summary: Get a list of all active aggregator brands
      description: Retrieve list of aggregator brands
      operationId: getAggregatorBrands
      parameters:
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AggregatorBrandResponse"
  /applist:
    get:
      summary: Get applications object
      description: Return a list of all Applications
      operationId: getApps
      parameters:
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AppListResponse"
  /arartist/{absoluteArtistId}:
    get:
      summary: Get artist (Absolute only)
      description: Retrieve Artist Record
      operationId: getAbsoluteArtistById
      parameters:
        - name: absoluteArtistId
          in: path
          description: "Unique identifier for the an Artist, used only by Absolute Radio"
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Artist"
      deprecated: true
  /audibles:
    get:
      summary: |
        Get audibles. (AppCode OR RegionCode OR StationCode OR BrandCode is required)
      description: |
        Retrieve list of audible content (podcasts, box set episodes,
        listen again episodes)
        <hr>
        <strong style="color:red">*One of these parameters is required: `AppCode`, `BrandCode`, `StationCode`, `RegionCode`</strong>
      operationId: getAudibles
      parameters:
        - name: AppCode
          in: query
          description: |
            Filter by App(Code).
            This parameter is incompatible with `BrandCode`, `RegionCode`, and `StationCode` parameters.
          schema:
            type: string
        - name: RegionCode
          in: query
          description: |
            Filter by Region(Code).
            This parameter is incompatible with `BrandCode`, `AppCode`, and `StationCode` parameters.'
          schema:
            type: string
        - name: ForceAppCode
          in: query
          description: |
            Force shuttle links to use this AppCode.
            This parameter is ONLY compatible with `RegionCode` parameters.'
          schema:
            type: string
        - name: BrandCode
          in: query
          description: |
            Filter by Brand(Code).
            This parameter is incompatible with `AppCode`, `RegionCode`, and `StationCode` parameters.'
          schema:
            type: string
        - name: StationCode
          in: query
          description: |
            Filter by Station(Code).
            This parameter is incompatible with `BrandCode`, `AppCode`, and `RegionCode` parameters.'
          schema:
            type: string
        - name: "type[]"
          in: query
          description: Filter by multiple audible types
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - podcast_episode
                - boxset_episode
                - listenagain
        - name: type
          in: query
          description: Filter by single audible type
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - podcast_episode
                - boxset_episode
                - listenagain
        - name: latest
          in: query
          description: Group by latest parent (definition of differs by type)
          schema:
            type: boolean
        - name: "podcast_episode.PodcastChannelId[]"
          in: query
          description: Filter response so it will only return podcasts that match `PodcastChannelId`*
          style: form
          explode: true
          schema:
            type: array
            items:
              type: number
        - name: "boxset_episode.BoxSetId[]"
          in: query
          description: Filter response so it will only return boxsets that match `BoxSetId`*
          style: form
          explode: true
          schema:
            type: array
            items:
              type: number
        - name: "listenagain.ShowId[]"
          in: query
          description:
            Filter response so it will only return listen again items that
            match `ShowId`*
          style: form
          explode: true
          schema:
            type: array
            items:
              type: number
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Audible"
  /boxsetepisodes/{stationCode}:
    get:
      summary: Get set episodes object
      description: Retrieve set episodes (JSON) -- Not on phones
      operationId: getBoxsetEpisodesByStationCode
      parameters:
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BoxSetEpisode"
  /boxset/{udid}/{appPlatform}/{stationCode}/{streamQuality}/{streamConnection}/{userId}:
    get:
      summary: Get BoxSet and its episodes
      description: Deprecated? Prefer getShows
      operationId: getBoxset
      parameters:
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: streamQuality
          in: path
          description: Quality of stream. Similar to but not bandwidth
          required: true
          schema:
            type: string
            enum:
              - hq
              - sq
              - wifi
              - cellular
        - name: streamConnection
          in: path
          description:
            Device's connection<hr><small><strong>Format:</strong> llwstring|numeric<br><strong>Example:</strong>
            cellular|10943302
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: Unique identifier for a ListenAPI Account
          required: true
          schema:
            type: integer
        - name: show_items
          in: query
          description: Return all boxSets associated with a Station inside a child <item>
          schema:
            type: string
      responses:
        "200":
          description: Returns a BoxSet and its episodes
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/BoxSet"
  /brands:
    get:
      summary: Index of brand entities
      operationId: getBrands
      parameters:
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Brand"
  /brand/{brandCode}:
    get:
      summary: Get brand object
      operationId: getBrandByBrandCode
      parameters:
        - name: brandCode
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Brand"
  /content/{stationCode}:
    get:
      summary: Get station details
      operationId: getArticleByStationCode
      parameters:
        - name: stationCode
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ContentArticle"
  /contentdadi/{dadiId}/{filter}:
    get:
      summary: Get station details for Dadi ID
      operationId: getArticleByDadiIdAndFilter
      parameters:
        - name: dadiId
          in: path
          required: true
          schema:
            type: string
        - name: filter
          in: path
          description: Filter by station region competition category
          required: true
          schema:
            type: string
            default: comps
            enum:
              - comps
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ContentArticle"
  /contentdadi/{dadiId}:
    get:
      summary: Get station details for Dadi ID
      operationId: getArticleByDadiId
      parameters:
        - name: dadiId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ContentArticle"
  /content/{stationCode}/{filter}:
    get:
      summary: Get station details
      operationId: getArticleByStationCodeAndFilter
      parameters:
        - name: stationCode
          in: path
          required: true
          schema:
            type: string
        - name: filter
          in: path
          description: Filter by station region competition category
          required: true
          schema:
            type: string
            default: comps
            enum:
              - comps
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: ""
                items:
                  $ref: "#/components/schemas/ContentArticle"
  /devices:
    get:
      summary: DEPRECATED. Get device tokens object
      description: DEPRECATED. Index of device tokens
      operationId: getDevicesTokens
      parameters:
        - name: "applications[]"
          in: query
          description: Filter by Application codes or IDs
          required: true
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "types[]"
          in: query
          description: Filter based on operating system(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - ios
                - and
        - name: _aggregate
          in: query
          description:
            Types 'tokens' or 'data' return device token and user id. Type
            'count' retuns quantity of existent tokens.
          schema:
            type: string
            default: tokens
            enum:
              - tokens
              - data
              - count
        - name: "accounts[]"
          in: query
          description: Filter based on account ids
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: ""
                items:
                  $ref: "#/components/schemas/Device"
      deprecated: true
  /device/{udid}/{applicationCode}/{token}:
    get:
      summary: DEPRECATED. Get device token object
      description:
        "DEPRECATED. Stores information about pushable device - {token}\
        \ is unique identifier"
      operationId: getDeviceToken
      parameters:
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: applicationCode
          in: path
          description: Unique identifier for an Application
          required: true
          schema:
            type: string
        - name: token
          in: path
          description:
            <u>Device</u> Token. Used to send push notifications to phones
            (<a href='https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html'>more</a>)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/DeviceToken"
      deprecated: true
  /epgshows/{showId}:
    get:
      summary: |
        Retrieve show information.

        The "showId" is more like "listen again show id", but this endpoint
        will also return non-listen again content too

        Non-listen again: Static content, mostly likely refering to a
        podcast channel without
        an explicit link)
      operationId: getEpgShow
      parameters:
        - name: showId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: "The requested EPG Show, or a fallback if it does not exist"
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EpgShow"
  /eventdata/{eventId}:
    get:
      summary: Retrieve raw-ish event record
      description: Retrieve raw-ish event record
      operationId: getEventById
      parameters:
        - name: eventId
          in: path
          description: Filter by Event ID
          required: true
          schema:
            type: string
            format: "^(bonus)?[0-9]+$"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Event"
  /eventsdadi/{dadiCode}/{date}/{time}/{limit}:
    get:
      summary: Get playlist with a Dadi ID
      description: Retrieve "events" but with a Dadi ID
      operationId: getEventsByDadiId
      parameters:
        - name: dadiCode
          in: path
          description: Unique Station identifier for Publish
          required: true
          schema:
            type: string
        - name: date
          in: path
          required: true
          schema:
            type: string
        - name: time
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NowPlayingSimple"
  /events/{stationCode}/{time}/{limit}:
    get:
      summary: Get playlist
      description: "Retrieve up to {limit} events up until {time}"
      operationId: getEventsByStationCode
      parameters:
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: time
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NowPlayingSimple"
  /event/{udid}/{appPlatform}/{stationCode}/{timeCode}/{userId}:
    get:
      summary: Get event object
      description: Retrieve parsed event record (Generally more useful than eventdata)
      operationId: getEvent
      parameters:
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: timeCode
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: Unique identifier for a ListenAPI Account
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EventsXml"
  /forgetTokens:
    delete:
      summary: DEPRECATED. Delete multiple tokens
      operationId: forgetTokens
      parameters:
        - name: "tokens[]"
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: What tokens?
          content: {}
      deprecated: true
  /initdadi/{dadiCode}:
    get:
      summary: '"init" but with Dadi ID'
      description: '"init" but with Dadi ID'
      operationId: initWithDadiId
      parameters:
        - name: dadiCode
          in: path
          description: Unique Station identifier for Publish
          required: true
          schema:
            type: string
        - name: "stationBrandRelated.StationType[]"
          in: query
          description: Filter brand related stations by station type
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              default: radio
              enum:
                - radio
                - box set
                - television
        - name: "stationRelated.StationType[]"
          in: query
          description: Filter related stations by station type
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - radio
                - box set
                - television
        - name: test
          in: query
          description:
            Include test stations in the results (when requested work using
            internal IP).
          schema:
            type: string
        - name: X-Forwarded-For
          in: header
          description:
            Required when using test parameter (Is it needed to be a valid
            IP address).
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Station"
  /initweb/{stationCode}:
    get:
      summary: Retrieve a station's (potentially random) HTML Panel
      description: Retrieve a station's (potentially random) HTML Panel
      operationId: initWithStationCode
      parameters:
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: "stationBrandRelated.StationType[]"
          in: query
          description: Filter brand related stations by station type
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              default: radio
              enum:
                - radio
                - box set
                - television
        - name: "stationRelated.StationType[]"
          in: query
          description: Filter related stations by station type
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              default: radio
              enum:
                - radio
                - box set
                - television
        - name: test
          in: query
          description:
            Include test stations in the results (when requested work using
            internal IP).
          schema:
            type: string
        - name: X-Forwarded-For
          in: header
          description:
            Required when using test parameter (Is it needed to be a valid
            IP address).
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Station"
  /init/{udid}/{appPlatform}/{location}/{userId}/{advertiserId}/{deeplink}:
    get:
      summary: "Retrieve {station} configuration (Phones)"
      description: "Retrieve {station} configuration (Phones)"
      operationId: initApp
      parameters:
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: location
          in: path
          description: Geographical coordinates
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: Unique identifier for a ListenAPI Account
          required: true
          schema:
            type: integer
        - name: advertiserId
          in: path
          required: true
          schema:
            type: integer
        - name: deeplink
          in: path
          required: true
          schema:
            type: string
        - name: test
          in: query
          description:
            Include test stations in the results (when requested work using
            internal IP).
          schema:
            type: string
        - name: outputStations
          in: query
          description: Output station data in response
          schema:
            type: boolean
            default: true
        - name: X-Forwarded-For
          in: header
          description:
            Required when using test parameter (Is it needed to be a valid
            IP address).
          schema:
            type: string
      responses:
        "200":
          description: Successful
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/Init"
  /instream/{udid}/{appPlatform}/{stationCode}/{userId}/{duration}/{adType}/{metaData}/{bandwidth}:
    get:
      summary: Get full screen streaming ad object
      description: Returns xml document describing a full screen streaming ad
      operationId: getInstream
      parameters:
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: stationCode
          in: path
          description: Filter by Station(Code)
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: Unique identifier for a ListenAPI Account
          required: true
          schema:
            type: integer
        - name: duration
          in: path
          required: true
          schema:
            type: string
        - name: adType
          in: path
          description: Unused
          required: true
          schema:
            type: string
        - name: metaData
          in: path
          description: String added to adswizz URL.
          required: true
          schema:
            type: string
        - name: bandwidth
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Instream"
  /latestEvents:
    get:
      summary: Get the latest 250 events for a Station
      description: Retrieve "events" but with a Dadi ID
      operationId: latestEvents
      parameters:
        - name: DadiCode
          in: query
          description: Unique Station identifier for Publish
          schema:
            type: string
        - name: StationCode
          in: query
          description: Unique Station code
          schema:
            type: string
        - name: StationId
          in: query
          description: Unique Station id
          schema:
            type: string
        - name: from
          in: query
          description: Time offset to retrieve events from (backwards)
          schema:
            type: string
        - name: _o
          in: query
          description: Order events
          schema:
            type: string
            default: desc
            enum:
              - asc
              - desc
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NowPlayingReduced"
  /listenagaindadi/{dadiCode}:
    get:
      summary: Get listen again episodes
      operationId: getListenAgainByDadiId
      parameters:
        - name: dadiCode
          in: path
          description: Unique Station identifier for Publish
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/schemas/ListenAgainEpisode"
                description: "`default` is an example key"
  /listenagain/{stationCode}:
    get:
      summary: Get listenagain object
      description: "Retrieve historical play information for {station}"
      operationId: getListenAgainByStationCode
      parameters:
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/schemas/ListenAgainEpisode"
  /listen/{udid}/{appPlatform}/{stationCode}/{streamQuality}/{streamConnection}/{userId}/{advertiserId}:
    get:
      summary: Logs a "listen"
      operationId: getListenLogs
      parameters:
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: streamQuality
          in: path
          description: Quality of stream. Similar to but not bandwidth
          required: true
          schema:
            type: string
            enum:
              - hq
              - sq
              - wifi
              - cellular
        - name: streamConnection
          in: path
          description:
            Device's connection<hr><small><strong>Format:</strong> llwstring|numeric<br><strong>Example:</strong>
            cellular|10943302
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: Unique identifier for a ListenAPI Account
          required: true
          schema:
            type: integer
        - name: advertiserId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ListenXml"
  /login/{udid}/{appPlatform}/{location}/{email}/{password}/{device}:
    post:
      summary: Get user information
      description:
        "Given valid credentials, will provide user information and hint\
        \ at how long their cookie should last (not authentication!)"
      operationId: login
      parameters:
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: location
          in: path
          description: Geographical coordinates
          required: true
          schema:
            type: string
        - name: email
          in: path
          description: Email address of an Account
          required: true
          schema:
            type: string
        - name: password
          in: path
          description: User's password
          required: true
          schema:
            type: string
        - name: device
          in: path
          description: Unused. Potentially the same as Token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
  /logout/{udid}/{appPlatform}/{userId}:
    get:
      summary: Logs logging user out
      description:
        "Logs logging user out (does not actually log user out, pretty\
        \ much just logs it)"
      operationId: logout
      parameters:
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: userId
          in: path
          description: Unique identifier for a ListenAPI Account
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content: {}
  /log:
    post:
      summary: Register any log
      description:
        Generic incoming logger so external applications can send any log
        they like
      operationId: log
      parameters:
        - name: USER
          in: header
          description: UserId
          schema:
            type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - entity
                - message
                - type
              type: object
              properties:
                type:
                  type: string
                  description: Entity Type
                entity:
                  type: string
                  description: Entity identifier
                message:
                  type: string
                  description: Message
                also:
                  type: string
                  description: Additional Data
        required: true
      responses:
        "200":
          description: OK
          content: {}
  /luckydip/{regionCode}:
    get:
      summary: Returns 4 randomly ordered local stations
      operationId: luckydip
      parameters:
        - name: regionCode
          in: path
          description: ISO-3166-2 Region code
          required: true
          schema:
            type: string
            enum:
              - GB
              - "NO"
              - DK
              - FI
              - SE
              - DE
              - GR
              - CY
              - RO
              - MD
              - PL
              - IE
      responses:
        "200":
          description: OK
          content: {}
  /makeToken/{userId}/{deviceId}:
    get:
      summary: Get JWT token
      description:
        One-time request to obtain JWT token without user credentials (<a
        href="https://bauer-specialist.atlassian.net/wiki/spaces/AUD/pages/773947418">readme</a>)
      operationId: makeToken
      parameters:
        - name: userId
          in: path
          description: Unique identifier for a ListenAPI Account
          required: true
          schema:
            type: integer
        - name: deviceId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TokenStatus"
  /localstations/{regionCode}:
    get:
      summary: Get split stations near user
      description: Returns nearby stations split based range of users location
      operationId: getLocalStations
      parameters:
        - name: regionCode
          in: path
          description: Filter by regionCode.
          required: true
          schema:
            type: string
        - name: latitude
          in: query
          description: Current user latitude
          required: true
          schema:
            type: string
        - name: longitude
          in: query
          description: Current user longitude
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                example:
                  - ge1
                  - ha1
                  - lfm
                items:
                  type: object
                  allOf:
                    - $ref: "#/components/schemas/StationCode"
                    - type: string
                      description: List of Stations Code
  /nearbyStations/{stationCode}:
    get:
      summary: Get nearby split stations
      description: Returns nearby stations split based on user location
      operationId: getNearbyStations
      parameters:
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: userIp
          in: query
          description: Current user ip used to specify user location.
          schema:
            type: string
        - name: "coordinates[lat]"
          in: query
          description: "Current user latitude. Mandatory when passing coordinates[lon]."
          schema:
            type: string
        - name: "coordinates[lon]"
          in: query
          description: "Current user longitude. Mandatory when passing coordinates[lat]."
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                example:
                  - hit
                  - hrm
                  - hrl
                items:
                  type: string
                  description: List of Stations Code
  /networks:
    get:
      summary: Get station networks
      description: Return the station networks
      operationId: getNetworks
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Network"
  /nowplaying/{stationCode}/{responseType}:
    get:
      summary: Get nowplaying object
      description: "Return what is currently playing on {station}"
      operationId: getNowPlayingByStationCode
      parameters:
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: responseType
          in: path
          description: Expected response type
          required: true
          schema:
            type: string
            default: json
            enum:
              - json
              - xml
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/NowPlaying"
  /oanowplaying/{stationCode}/{responseType}:
    get:
      summary: Get nowplaying object with small time adjustment so it aligns to realtime
      description: "Return what is currently playing on {station}"
      operationId: getOaNowPlayingByStationCode
      parameters:
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: responseType
          in: path
          description: Expected response type
          required: true
          schema:
            type: string
            default: json
            enum:
              - json
              - xml
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/NowPlaying"
  /playlist:
    get:
      summary:
        "Get playlist information for a show or station. Must provide one of\
        \ ScheduleId, StationCode"
      operationId: getPlaylist
      parameters:
        - name: ScheduleId
          in: query
          description:
            "Query for a specific schedule's playlist. Infers \"StationCode\"\
            , \"from\" and \"to\""
          schema:
            type: number
        - name: StationCode
          in: query
          description: Query for a station's playlist
          schema:
            type: string
        - name: from
          in: query
          description:
            Filter for tracks played at or after this time (Only works with
            StationCode)
          schema:
            type: string
        - name: until
          in: query
          description: Filter for tracks played before this time (Only works with StationCode)
          schema:
            type: string
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Successfully retrieved playlist
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NowPlayingSimple"
  /podcastchannelsdadi/{dadiCode}:
    get:
      summary: "Return Podcast Channels that belong to {station}"
      operationId: getPodcastChannelsDadiByDadiId
      parameters:
        - name: dadiCode
          in: path
          description: Unique Station identifier for Publish
          required: true
          schema:
            type: string
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PodcastChannelRegion"
  /podcastchannelsregion/{regionCode}/featured:
    get:
      summary: Get list of all featured podcasts
      operationId: getFeaturedPodcastsByRegion
      parameters:
        - name: regionCode
          in: path
          description: ISO-3166-2 Region code
          required: true
          schema:
            type: string
            enum:
              - GB
              - "NO"
              - DK
              - FI
              - SE
              - DE
              - GR
              - CY
              - RO
              - MD
              - PL
              - IE
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: Return featured podcast channels by region
                items:
                  $ref: "#/components/schemas/PodcastChannelRegion"
  /podcastchannelsregion/{regionCode}:
    get:
      summary: Get list of all podcasts by region.
      operationId: podcastsByRegionCode
      parameters:
        - name: regionCode
          in: path
          description: ISO-3166-2 Region code
          required: true
          schema:
            type: string
            enum:
              - GB
              - "NO"
              - DK
              - FI
              - SE
              - DE
              - GR
              - CY
              - RO
              - MD
              - PL
              - IE
        - name: "StationId[]"
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: "AppId[]"
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: Return podcast channels by region
                items:
                  $ref: "#/components/schemas/PodcastChannelRegion"
  /podcastchannelsstation/{stationCode}:
    get:
      summary: Get podcast channels station object
      description: "Return Podcast Channels that belong to {station}"
      operationId: podcastchannelsstation
      parameters:
        - name: stationCode
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: Return podcast channels by station code
                items:
                  $ref: "#/components/schemas/PodcastChannelRegion"
  /podcastsbychannel/{podcastchannel}:
    get:
      summary: Find all podcasts by channel
      operationId: getPodcastsByChannel
      parameters:
        - name: podcastchannel
          in: path
          description: podcastChannel
          required: true
          schema:
            type: string
        - name: "PodcastSeasonNumber[]"
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: "PodcastRadioplayId[]"
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PodcastChannelEpisodes"
  /podcastsbyid/{podcastChannelId}:
    get:
      summary: Get podcasts object
      description: "Return Podcasts that belong to {podcastChannel}"
      operationId: getPodcastsByChannelId
      parameters:
        - name: podcastChannelId
          in: path
          description: Unique identifier of a Podcast Channel
          required: true
          schema:
            type: integer
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PodcastEpisode"
  /podcastsbystation/{stationCode}:
    get:
      summary: Get podcasts by station code
      operationId: getPodcastsChannelsByStationCode
      parameters:
        - name: stationCode
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PodcastChannelRegion"
  /podcast/{podcastId}:
    get:
      summary: Get podcast object
      description:
        "Same as `/podcastsbyid/{podcastId}` except the Podcast Channel\
        \ is merged with Podcast"
      operationId: getPodcastById
      parameters:
        - name: podcastId
          in: path
          description: Unique identifier for a Podcast
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PodcastEpisode"
  /premiumStatusForUser:
    get:
      summary: Return subscription status for a user
      description:
        "Returns premium subscription status for a user, via the Bearer\
        \ auth header"
      operationId: premiumStatusForUser
      parameters:
        - name: regionCode
          in: query
          description: ISO-3166-2 Region code
          schema:
            type: string
            enum:
              - GB
              - DK
              - "NO"
              - FI
              - SE
              - GR
              - RO
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserPremiumStatus"
        "404":
          description: Invalid Bearer token.
          content: {}
  /premium/station/{stationCode}:
    get:
      summary: Get Premium Incentive information for a Station
      operationId: getPremiumForStation
      parameters:
        - name: stationCode
          in: path
          description: The Station to which the premium incentive is attached to
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Premium"
  /premium/app/{appCode}:
    get:
      summary: Get Premium Incentive information for an App
      operationId: getPremiumForApp
      parameters:
        - name: appCode
          in: path
          description: The App to which the premium incentive is attached to
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Premium"
  /premium/region/{regionCode}:
    get:
      summary: Get Premium Incentive information for a Region
      operationId: getPremiumForRegion
      parameters:
        - name: regionCode
          in: path
          description: ISO-3166-2 Region code
          required: true
          schema:
            type: string
            enum:
              - GB
              - "NO"
              - DK
              - FI
              - SE
              - DE
              - GR
              - CY
              - RO
              - MD
              - PL
              - IE
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Premium"
  /presenters/{presenterId}:
    get:
      summary: Get presenter by ID
      operationId: getPresenterById
      parameters:
        - name: presenterId
          in: path
          description: Respective presenter id
          required: true
          schema:
            type: number
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Presenter"
  /presenters:
    get:
      summary:
        Get presenters. (stationId OR stationCode OR brandCode parameter is
        required)
      operationId: getPresenters
      parameters:
        - name: stationId
          in: query
          description: Filter based on Station ID
          schema:
            type: integer
        - name: stationCode
          in: query
          description: Filter based on Station Code
          schema:
            type: string
        - name: brandCode
          in: query
          description: Filter based on Brand Code
          schema:
            type: string
        - name: regionCode
          in: query
          description: Filter based on Region Code
          schema:
            type: string
        - name: since
          in: query
          description:
            "Filter by presenters who have been updated/deleted since this\
            \ time, additionally includes inactive presenters"
          schema:
            type: string
        - name: "presenterId[]"
          in: query
          description: Filter multiple presenter by id;
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Presenter"
  /regionsmeta/{regionCode}:
    get:
      summary: Specific endpoint to Google Home Feed
      operationId: getRegionsMetaByRegionCode
      parameters:
        - name: regionCode
          in: path
          description: ISO-3166-2 Region code
          required: true
          schema:
            type: string
            enum:
              - GB
              - "NO"
              - DK
              - FI
              - SE
              - DE
              - GR
              - CY
              - RO
              - MD
              - PL
              - IE
      responses:
        "200":
          description: Returns regions based on
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/RegionsMeta"
  /regions:
    get:
      summary: Get regions object
      description: List of regions
      operationId: getRegions
      parameters:
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Return all available regions
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Region"
  /register/{udid}/{appPlatform}/{fullName}/{email}/{gender}/{location}/{age}/{password}:
    post:
      summary: Creates a user account
      description: Creates a user account
      operationId: registerUser
      parameters:
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: fullName
          in: path
          description: Full name of an Account
          required: true
          schema:
            type: string
        - name: email
          in: path
          description: Email address of an Account
          required: true
          schema:
            type: string
        - name: gender
          in: path
          description: |
            Allowed genders:
             * `f` - Female
             * `m` - Male
             * `n` - Non-Binary, Binary gender of an Account
             * `o` - Other Gender, "Value" is prefixed with "o" (e.g. "oValue")
          required: true
          schema:
            type: string
        - name: location
          in: path
          description: Geographical coordinates
          required: true
          schema:
            type: string
        - name: age
          in: path
          description: Age in years
          required: true
          schema:
            type: integer
        - name: password
          in: path
          description: User's password
          required: true
          schema:
            type: string
      requestBody:
        content:
          "*/*":
            schema:
              type: object
              properties:
                source:
                  type: string
                  description: The type of user acquisition source
                  example: Livestream
                sourceId:
                  type: string
                  description: A uniquely identifiable user acquisition source
                  example: Kiss Haunted House Party
        required: false
      responses:
        "200":
          description:
            Placeholder for likely-unused endpoints which are blocking
            apigw deployment
          content:
            "*/*":
              schema:
                type: object
      x-codegen-request-body-name: sourceFields
  /reminder/{udid}/{appPlatform}/{stationCode}/{timeCode}/{userId}:
    get:
      summary:
        "Generates and sends email to {user} reminding them of {station}'s\
        \ current show"
      operationId: setUserReminder
      parameters:
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: timeCode
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          description: Unique identifier for a ListenAPI Account
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content: {}
  /reset/{udid}/{appPlatform}/{emaill}:
    get:
      summary: Reset user's password
      description: "Reset {user.email}'s password and send a reset email"
      operationId: resetUserPassword
      parameters:
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: emaill
          in: path
          description: User email
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
  /scheduledadi/{dadiCode}/{timeStart}/{timeEnd}:
    get:
      summary: '"schedule" but with Dadi ID'
      description: '"schedule" but with Dadi ID'
      operationId: getScheduleDadiByDadiId
      parameters:
        - name: dadiCode
          in: path
          description: Unique Station identifier for Publish
          required: true
          schema:
            type: string
        - name: timeStart
          in: path
          required: true
          schema:
            type: string
        - name: timeEnd
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Listen Again episodes, grouped by date"
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/DadiSchedule"
  /schedule/{stationCode}/{timeStart}/{timeEnd}:
    get:
      summary: Get schedule object
      operationId: getScheduleByStationCode
      parameters:
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
        - name: timeStart
          in: path
          required: true
          schema:
            type: string
        - name: timeEnd
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/schemas/Schedule"
                description: Return schedules
  /settings/{saveMode}/{udid}/{appPlatform}/{userId}:
    get:
      summary: Retrieves/Saves user's settings
      description: 'Retrieves or (or saves if {saveMode} is "save") user''s settings'
      operationId: getUserSettings
      parameters:
        - name: saveMode
          in: path
          description: Save a user information if value is "save"
          required: true
          schema:
            type: string
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: userId
          in: path
          description: Unique identifier for a ListenAPI Account
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content: {}
  /sharpstream:
    get:
      summary: "Rebuild {streamUrl} and redirect to it"
      description: "Rebuild {streamUrl} and redirect to it"
      operationId: setSharpstream
      parameters:
        - name: i
          in: query
          description: "Should be {streamUrl} value"
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirects to sharpstream endpoint
          content: {}
  /shows:
    get:
      summary:
        Get shows object. (AppCode OR BrandCode OR StationCode OR RegionCode
        parameter is required)
      operationId: getShows
      parameters:
        - name: AppCode
          in: query
          description:
            "Filter by App(Code). <br> This parameter is incompatible with\
            \ `BrandCode`, `RegionCode`, and `StationCode` parameters."
          schema:
            type: string
        - name: RegionCode
          in: query
          description:
            "Filter by Region(Code). <br> This parameter is incompatible\
            \ with -       `BrandCode`, `AppCode`, and `StationCode` parameters."
          schema:
            type: string
        - name: ForceAppCode
          in: query
          description:
            Force deeplinks to use this AppCode. <br> This parameter is ONLY
            compatible with `RegionCode` parameters.
          schema:
            type: string
        - name: BrandCode
          in: query
          description:
            "Filter by Brand(Code). <br> This parameter is incompatible with\
            \ `AppCode`, `RegionCode`, and `StationCode` parameters."
          schema:
            type: string
        - name: StationCode
          in: query
          description:
            "Filter by Station(Code). <br> This parameter is incompatible\
            \ with `BrandCode`, `AppCode`, and `RegionCode` parameters."
          schema:
            type: string
        - name: "type[]"
          in: query
          description: Filter response by type.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - podcast
                - boxset
                - listenagain_show
        - name: latest
          in: query
          description: Alias for "order by recency"
          schema:
            type: boolean
        - name: is_active
          in: query
          description: Whether shows must be 'active' (has recently episodes)
          schema:
            type: boolean
        - name: onlyWithAudibles
          in: query
          description: List shows with or without episodes.
          schema:
            type: boolean
        - name: "_filter[is_featured]"
          in: query
          schema:
            type: number
        - name: "_filter[is_premium_only]"
          in: query
          schema:
            type: number
            enum:
              - 0
              - 1
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Return shows
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Show"
  /shuttlelinks/{identifier}:
    get:
      summary: Get a Shuttle Link object
      operationId: getShuttlelinksById
      parameters:
        - name: identifier
          in: path
          description: Parameter identifier should be a valid ShuttleLink ID.
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Returns a ShuttleLink object
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ShuttleLink"
    post:
      summary:
        Create a Shuttle Link object for a specific entity. Device URLs will
        be auto-generated.
      operationId: setShuttlelinkByEntity
      parameters:
        - name: identifier
          in: path
          description: Parameter identifier should be a valid Entity Type
          required: true
          schema:
            type: string
            enum:
              - event
              - podcast
              - boxset
              - boxset_episode
              - listenagain
              - listenagain_show
              - podcast_episode
      requestBody:
        description: The ShuttleLink body request including extra entity details
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShuttleLinkEntityTypeBody"
        required: false
      responses:
        "200":
          description: Returns created Shuttle Link object
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ShuttleLink"
      x-codegen-request-body-name: shuttleLink
  /shuttlelinks:
    post:
      summary: Create a Shuttle Link object
      operationId: postShuttlelinks
      requestBody:
        description: The ShuttleLink body request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShuttleLinkBody"
        required: false
      responses:
        "200":
          description: Returns created Shuttle Link object
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ShuttleLink"
      x-codegen-request-body-name: shuttleLink
  /signIn/station/{stationCode}:
    get:
      summary: Get SignIn Incentive information for a Station
      operationId: getSignInIncentivesForStation
      parameters:
        - name: stationCode
          in: path
          description: The Station to which the sign in incentive is attached to
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SignInIncentive"
  /signIn/app/{appCode}:
    get:
      summary: Get SignIn Incentive information for an App
      operationId: getSignInIncentivesForApp
      parameters:
        - name: appCode
          in: path
          description: The App to which the sign in incentive is attached to
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SignInIncentive"
  /stationlist/{regionCode}:
    get:
      summary: Get list of all stations. Deprecated in favour of "getMinifiedStations"
      operationId: getStationsByRegionCode
      parameters:
        - name: regionCode
          in: path
          description: ISO-3166-2 Region code
          required: true
          schema:
            type: string
            enum:
              - GB
              - "NO"
              - DK
              - FI
              - SE
              - DE
              - GR
              - CY
              - RO
              - MD
              - PL
              - IE
        - name: "AppCode[]"
          in: query
          description: Filter stations by AppCode(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "StationId[]"
          in: query
          description: Filter based on Station ID(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: "StationCode[]"
          in: query
          description: Filter based on Station Code(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              default: radio
              enum:
                - radio
                - box set
                - television
        - name: "StationDADIId[]"
          in: query
          description: Filter based on Station DADI ID(s).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "StationType[]"
          in: query
          description: Only return stations with StationType of value(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - radio
                - box set
                - television
        - name: include
          in: query
          description:
            "To request includable data, you can comma-seperate what you\
            \ require in the include parameter, eg. ?include=parameter1,parameter2."
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - stationLatestEpisode
                - stationBrandRelated
                - stationRelated
        - name: test
          in: query
          description:
            Include test stations in the results (when requested work using
            internal IP).
          schema:
            type: string
        - name: X-Forwarded-For
          in: header
          description:
            Required when using test parameter (Is it needed to be a valid
            IP address).
          schema:
            type: string
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: premium
          in: query
          description: Include Premium content in results
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Station"
      deprecated: true
  /stationlist:
    get:
      summary: Get list of all stations. Deprecated in favour of "getMinifiedStations"
      operationId: getStations
      parameters:
        - name: "AppCode[]"
          in: query
          description: Filter stations by AppCode(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "StationId[]"
          in: query
          description: Filter based on Station ID(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: "StationCode[]"
          in: query
          description: Filter based on Station Code(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: StationCode
          in: query
          description: Filter based on Station Code
          schema:
            type: string
        - name: "StationDADIId[]"
          in: query
          description: Filter based on Station DADI ID(s).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "StationType[]"
          in: query
          description: Only return stations with StationType of value(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - radio
                - box set
                - television
        - name: include
          in: query
          description:
            "To request includable data, you can comma-seperate what you\
            \ require in the include parameter, eg. ?include=parameter1,parameter2."
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - stationBrandRelated
                - stationRelated
                - brand
        - name: test
          in: query
          description:
            Include test stations in the results (when requested work using
            internal IP).
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
        - name: premium
          in: query
          description: Used to append premium stations to stationlist
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
        - name: X-Forwarded-For
          in: header
          description:
            Required when using test parameter (Is it needed to be a valid
            IP address).
          schema:
            type: string
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Station"
      deprecated: true
  /stationsbyport:
    get:
      summary: Get station code grouped by port
      description: Get station code grouped by port
      operationId: getStationsByPort
      responses:
        "200":
          description: Returns the PORT number as key and StationCode as value
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StationsByPort"
  /stations_nowplaying/{regionCode}:
    get:
      summary: Get nowplaying / station on air data of stations
      operationId: getNowPlayingAndOnAirForStations
      parameters:
        - name: regionCode
          in: path
          description: ISO-3166-2 Region code
          required: true
          schema:
            type: string
            enum:
              - GB
              - "NO"
              - DK
              - FI
              - SE
              - DE
              - GR
              - CY
              - RO
              - MD
              - PL
              - IE
        - name: "StationCode[]"
          in: query
          description: Filter based on Station Code(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              default: radio
              enum:
                - radio
                - box set
                - television
        - name: "StationDADIId[]"
          in: query
          description: Filter based on Station DADI ID(s).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "StationType[]"
          in: query
          description: Only return stations with StationType of value(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - radio
                - box set
                - television
        - name: test
          in: query
          description:
            Include test stations in the results (when requested work using
            internal IP).
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
        - name: premium
          in: query
          description: Used to append premium stations to stationlist
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
        - name: X-Forwarded-For
          in: header
          description:
            Required when using test parameter (Is it needed to be a valid
            IP address).
          schema:
            type: string
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: Now playing/Station on air information for stations
                items:
                  $ref: "#/components/schemas/StationNowPlaying"
  /stations/{regionCode}:
    get:
      summary: Get list of all stations
      operationId: getMinifiedStations
      parameters:
        - name: regionCode
          in: path
          description: ISO-3166-2 Region code
          required: true
          schema:
            type: string
            enum:
              - GB
              - "NO"
              - DK
              - FI
              - SE
              - DE
              - GR
              - CY
              - RO
              - MD
              - PL
              - IE
        - name: "AppCode[]"
          in: query
          description: Filter stations by AppCode(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "StationId[]"
          in: query
          description: Filter based on Station ID(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: integer
        - name: "StationCode[]"
          in: query
          description: Filter based on Station Code(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              default: radio
              enum:
                - radio
                - box set
                - television
        - name: "StationDADIId[]"
          in: query
          description: Filter based on Station DADI ID(s).
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: "StationType[]"
          in: query
          description: Only return stations with StationType of value(s)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - radio
                - box set
                - television
        - name: include
          in: query
          description:
            "To request includable data, you can comma-seperate what you\
            \ require in the include parameter, eg. ?include=parameter1,parameter2."
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
              enum:
                - stationBrandRelated
                - stationRelated
                - brand
        - name: test
          in: query
          description:
            Include test stations in the results (when requested work using
            internal IP).
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
        - name: X-Forwarded-For
          in: header
          description:
            Required when using test parameter (Is it needed to be a valid
            IP address).
          schema:
            type: string
        - name: _p
          in: query
          description: "Pagination: Page number"
          schema:
            type: number
        - name: _pp
          in: query
          description: "Pagination: Items per page"
          schema:
            type: number
        - name: _o
          in: query
          description:
            Order data by provided parameter. Prefix with an "-" to order
            inversely. Endpoint must support.
          schema:
            type: string
        - name: "_filter[]"
          in: query
          description:
            "Long-form version to filter data. Post-processes data, may conflict\
            \ with request-specific parameters"
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: premium
          in: query
          description: Include Premium content in results
          schema:
            type: integer
            default: 0
            enum:
              - 0
              - 1
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: Return a list of minified stations
                items:
                  $ref: "#/components/schemas/StationMinified"
  /streamAuthLevel:
    get:
      summary: Authenticated streams lookup endpoint
      description: Returns stream auth level based on a respective stream url
      operationId: streamAuthLevel
      parameters:
        - name: StreamUrl
          in: query
          description: Url that should match to return the expected level
          required: true
          schema:
            type: string
            format: url
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StringResponse"
  /ticketsdadi/{dadiCode}:
    get:
      summary: Get tickets with Dadi ID
      description: Retrieves "tickets" but with Dadi ID
      operationId: getTicketsDadiByDadiId
      parameters:
        - name: dadiCode
          in: path
          description: Unique Station identifier for Publish
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: ""
                items:
                  $ref: "#/components/schemas/Ticket"
  /tickets/{stationCode}:
    get:
      summary: Get tickets object
      description: Retrieves tickets available (via. <a href="http://aloud.com/">Aloud.com)</a>
      operationId: getTicketsByStationCode
      parameters:
        - name: stationCode
          in: path
          description: Filter by Station(Code).
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: ""
                items:
                  $ref: "#/components/schemas/Ticket"
  /tokens/{registrationToken}:
    post:
      summary: DEPRECATED. Update a registration token.
      description: DEPRECATED. Update a registration token.
      operationId: updateToken
      parameters:
        - name: registrationToken
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
      deprecated: true
    delete:
      summary: Remove a registration token.
      description: Remove a registration token.
      operationId: deleteToken
      parameters:
        - name: registrationToken
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
  /traveldadi/{dadiCode}:
    get:
      summary: Get travel with Dadi ID
      description: '"travel" but with a Dadi ID'
      operationId: getTrafficWarningsByDadiId
      parameters:
        - name: dadiCode
          in: path
          description: Unique Station identifier for Publish
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: ""
                items:
                  $ref: "#/components/schemas/Travel"
  /travel/{stationCode}:
    get:
      summary: Get traffic warning information
      description: "Returns traffic warnings nearby to {station}"
      operationId: getTrafficWarningsByStationCode
      parameters:
        - name: stationCode
          in: path
          description: Filter by Station(Code)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                description: Returns traffic warning information
                items:
                  $ref: "#/components/schemas/Travel"
  /utterances/{regionCode}:
    get:
      description:
        "List of utterances for this region, arranged by station, device\
        \ type, and locale"
      operationId: getVoiceUtterancesByRegionCode
      parameters:
        - name: regionCode
          in: path
          description: ISO-3166-2 Region code
          required: true
          schema:
            type: string
            enum:
              - GB
              - "NO"
              - DK
              - FI
              - SE
              - DE
              - GR
              - CY
              - RO
              - MD
              - PL
              - IE
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StationUtterance"
  /verify/{udid}/{appPlatform}/{email}:
    get:
      summary: Verifies user email
      description: Verifies a user's email post-registration
      operationId: verifyUserEmail
      parameters:
        - name: udid
          in: path
          description: Unique identifier for a Device
          required: true
          schema:
            type: string
        - name: appPlatform
          in: path
          description: Used by phone applications to identify their source type
          required: true
          schema:
            pattern: "^\\w{3}\\_\\w+$"
            type: string
        - name: email
          in: path
          description: Email address of an Account
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content: {}
      deprecated: true
components:
  schemas:
    NumericBoolean:
      type: number
      description: Booly numbers deserve love too
      enum:
        - 0
        - 1
    StringBoolean:
      type: string
      description: "These aren't booly, but they want to be"
      enum:
        - "0"
        - "1"
    ImageUrl:
      type: string
      description: "A Url to an image, refer to property name for description"
      format: uri
      example: https://fakeimg.pl/300x300/282828/eae0d0/?retina=1&text=fallback
    StreamUrl:
      type: string
      description: A Url that can be listened to
      format: uri
      example: https://n02.on.revma.com/vtaxxb6knrhvv
    ApiUrl:
      type: string
      description:
        A Url that intended to be to be used in for an API request (Not
        for end-users)
      format: uri
    PageUrl:
      type: string
      description:
        "A Url to an web page which the user can follow, refer to property\
        \ name for description"
      format: uri
      nullable: true
      x-nullable: true
    ShuttleUrl:
      type: string
      description:
        The shuttle URL is used for sharing and is compatible with any
[...]
