{
  "printWidth": 80,
  "arrowParens": "always",
  "importOrderTypeScriptVersion": "5.3.3",
  "tailwindConfig": "./packages/ui/src/tailwind/config.js",
  "tailwindFunctions": ["cva"],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-packagejson",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-gherkin"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(ui/(.*)$)|^(ui$)",
    "^@/components/(.*)$",
    "",
    "^@/*",
    "",
    "^~/(.*)$",
    "^[./]"
  ]
}
